 
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

   
}
/* shared styles */
body{
    margin: 0px 160px;
    background-color:rgba(245, 245, 245, 1);
}
.common-font-description{
    color:rgba(14, 14, 14, 0.7) ;
    font-size: 16px;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
}
.btn-primary{
     
   background-color: #006A50 ;
   color: white;
   font-weight: bold;
    font-size: 15px;
    padding: 18px 30px;
    border: none;
    border-radius: 15px;
}

.common-title{
    font-size: 32px;
    font-weight: 800;
}
/* nav styles  */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

  
.sign-btn{
   color:#006A50;
   background-color: white;
   font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-color: #006A50;
    border-radius: 5px;
}
/* banner styles */
.banner-title{
    color:rgba(14, 14, 14, 0.61) ;
    font-size: 24px;
}
.banner-description{
    font-size: 56px;;
    font-weight: bold;
}
.banner{
    display: flex;
    background-color:rgba(198, 228, 214, 1) ;
    padding:117px 60px ;
 
}
/* pillars styles */
.pillars-section{
    margin-bottom:60px;
}
.pillars-content{
    display: flex;
    
}
.pillar{
    padding: 24px;
   background-color : white;
    border-radius: 15px;
    margin-right:  24px;

}
 /* vision styles */

 .vision-description{
    display: flex;
    gap: 20px;
    padding-right:24px;
    margin-bottom: 32px;
     
 }
 .vision-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
 }
 .btn-primary1{
    color:white;
    background-color:#5490F5 ;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border:none;
    border-radius: 15px;
 }
 .btn-primary2{
    color:white;
    background-color:#09A15C ;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border:none;
    border-radius: 15px;
 }
 .btn-primary3{
    color:white;
    background-color:#FFC239 ;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border:none;
    border-radius: 15px;
 }
 .vision-content-bg-blue{
    background-color:#C0D1EF ;
    padding: 32px;
    border-radius: 15px;
 }
 .vision-content-bg-green{
    background-color:#C6E4D6 ;
    padding: 32px;
    border-radius: 15px;
 }
 .vision-content-bg-tomato{
    background-color:#F7EBCF ;
    padding: 32px;
    border-radius: 15px;
 }
 /* quotes styles */
 .quotes p {
  margin-bottom: 20px;
}

.quotes h4 {
  margin-top: 0;
}
.quotes-description{
   padding: 24px;
}
  .quote-sign {
  background-image: url('assets/quote-bg.png'); 
  background-repeat: no-repeat;
  background-position: left top ;  
  background-size:40px;

 }
 .quotes{
    background-color: white;
    border-radius: 15px;
    border:1px solid #D5D6D8;
    margin-bottom: 40px;
 }